<html>
 <head>
  <title>Web Server con AWX</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}>Homepage</a>
 </br></br>
<h2>
<?php 
 Print "Hola, Mundo! Soy un web server configurado por Ansible y AWX, soy : ";
 echo exec('hostname');
?>
</h2>
</body>
</html>

